<div class="search-bar">
  <div class="input-wrapper">
    <mat-icon class="icon-search">search</mat-icon>
    
    <input
      #searchInput
      type="text"
      [(ngModel)]="query"
      (input)="onInput(query)"
      (blur)="onBlur()"
      (focus)="onFocus()"
      placeholder="Search songs, artists, albums..."
      class="input"
      name="search"
      autocomplete="off"
    />

    <mat-icon *ngIf="loading" class="icon-loading">refresh</mat-icon>
    
    <button 
      *ngIf="query && !loading" 
      (click)="clear()" 
      class="btn-clear"
      type="button">
      <mat-icon>close</mat-icon>
    </button>
    <div *ngIf="showResults && results" class="results">
      <div *ngIf="results.tracks.items.length > 0" class="section">
        <div class="section-title">TRACKS</div>
        <button
          *ngFor="let item of results.tracks.items"
          (mousedown)="$event.preventDefault()"
          (click)="select('track', item.id, item.name)"
          class="item"
          type="button">
          <img 
            [src]="item.album.images && item.album.images.length > 0 ? item.album.images[0].url : ''" 
            [alt]="item.name" 
            class="img">
          <div class="info">
            <div class="name">{{ item.name }}</div>
            <div class="sub">{{ item.artists && item.artists.length > 0 ? item.artists[0].name : '' }}</div>
          </div>
          <mat-icon class="icon-play">play_circle_outline</mat-icon>
        </button>
      </div>

      <div *ngIf="results.artists.items.length > 0" class="section">
        <div class="section-title">ARTISTS</div>
        <button
          *ngFor="let item of results.artists.items"
          (mousedown)="$event.preventDefault()"
          (click)="select('artist', item.id, item.name)"
          class="item"
          type="button">
          <img 
            [src]="item.images && item.images.length > 0 ? item.images[0].url : ''" 
            [alt]="item.name" 
            class="img round">
          <div class="info">
            <div class="name">{{ item.name }}</div>
            <div class="sub">{{ item.genres && item.genres.length > 0 ? item.genres[0] : 'Artist' }}</div>
          </div>
          <mat-icon class="icon-arrow">chevron_right</mat-icon>
        </button>
      </div>

      <div *ngIf="results.albums.items.length > 0" class="section">
        <div class="section-title">ALBUMS</div>
        <button
          *ngFor="let item of results.albums.items"
          (mousedown)="$event.preventDefault()"
          (click)="select('album', item.id, item.name)"
          class="item"
          type="button">
          <img 
            [src]="item.images && item.images.length > 0 ? item.images[0].url : 'https://picsum.photos/200'" 
            [alt]="item.name" 
            class="img">
          <div class="info">
            <div class="name">{{ item.name }}</div>
            <div class="sub">{{ item.artists && item.artists.length > 0 ? item.artists[0].name : '' }}</div>
          </div>
          <mat-icon class="icon-arrow">chevron_right</mat-icon>
        </button>
      </div>

      <div *ngIf="results.tracks.items.length === 0 && 
                  results.artists.items.length === 0 && 
                  results.albums.items.length === 0" 
          class="empty">
        <mat-icon class="icon-empty">search_off</mat-icon>
        <p>No results found</p>
      </div>
    </div>
  </div>

</div>